<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291643399691-fncuk7hai1bgrtbb05lb3h49rgah88vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291643399691-fncuk7hai1bgrtbb05lb3h49rgah88vt</string>
	<key>API_KEY</key>
	<string>AIzaSyAUY9jcc4Elkq2Tgga3dDpELvw9ayD9LqM</string>
	<key>GCM_SENDER_ID</key>
	<string>291643399691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrick.livestream-test.FitLive</string>
	<key>PROJECT_ID</key>
	<string>fitmate-a0d35</string>
	<key>STORAGE_BUCKET</key>
	<string>fitmate-a0d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291643399691:ios:124628eb6579323852b10e</string>
	<key>DATABASE_URL</key>
	<string>https://fitmate-a0d35.firebaseio.com</string>
</dict>
</plist>